<div class="widget-body">
    <div class="widget-main">
        <h4 class="header blue lighter bigger">
                            <i class="icon-coffee green"></i>
                            Bienvenido {{nombre}} {{apellido_paterno}}!
                        </h4>
        <div>
            <table class="table table-striped">
                <tr>
                    <th>Direccion (Calle y numero)</th>
                    <td><a href="#" editable-text="datos_adicionales.calle">{{ datos_adicionales.calle || 'Vacio' }}</a></td>
                </tr>               
                <tr>
                    <th>Colonia</th>
                    <td><a href="#" editable-text="datos_adicionales.colonia">{{ datos_adicionales.colonia || 'Vacio' }}</a></td>
                </tr>               
                <tr>
                    <th>Ciudad</th>
                    <td><a href="#" editable-text="datos_adicionales.ciudad">{{datos_adicionales.ciudad || 'Vacio' }}</a></td>
                </tr>
                <tr>
                    <th>Facebook</th>
                    <td><a href="#" editable-text="datos_adicionales.facebook">{{ datos_adicionales.facebook || 'Vacio' }}</a></td>
                </tr>
                <tr>
                    <th>Twitter</th>
                    <td><a href="#" editable-text="datos_adicionales.twitter">{{ datos_adicionales.twitter || 'Vacio' }}</a></td>
                </tr>
                <tr>
                    <th>Instagram</th>
                    <td><a href="#" editable-text="datos_adicionales.instagram">{{ datos_adicionales.instagram || 'Vacio' }}</a></td>
                </tr>                
            </table>
        </div>
        <a ng-click="datosAdicionales(datos_adicionales);">Actualizar</a>
                <button class="btn btn-info" ng-click="datosAdicionales(datos_adicionales);">Actualizar</button>  
    </div>
</div>