<!-- Tabs Go Here -->
<section>
  <ul class="nav nav-pills">
    <li ng-class="{ active:tab.isSet(1) }">
      <a href ng-click="tab.setTab(1)">Inicio</a>
    </li>
    <li ng-class="{ active:tab.isSet(2) }">
      <a href ng-click="tab.setTab(2)">Registra un nuevo abono</a>
    </li>
    <li ng-class="{ active:tab.isSet(3) }">
      <a href ng-click="tab.setTab(3)">Actualiza tus datos</a>
    </li>
    <li ng-class="{ active:tab.isSet(4) }">
      <a href ng-click="tab.setTab(4)">Datos basicos</a>
    </li>     
  </ul>

  <!--  Description Tab's Content  -->
  <abonado-descripcion ng-show="tab.isSet(1)" ></abonado-descripcion>

  <!--  Review Tab's Content  -->
  <registrar-abono ng-show="tab.isSet(2)"></registrar-abono>

  <registrar-datos ng-show="tab.isSet(3)"></registrar-datos>
  
  <abonado-datos-adicionales ng-show="tab.isSet(4)"></abonado-datos-adicionales>
</section>